$fontserif: 'Times new roman', 'Times', serif;
$font: 'Helvetica', 'Arial', sans-serif;

$baseColor: #ffffff;
$seconddaryColor:blue;

$bp-tablet: 480px;
$bp-desktop: 768px;
$bp-desktop-large:1024px;
$bp-small:1200px;
$bp-desktop-extra-large:1800px;
